In [1]:
import pandas as pd
import pprint, os, chardet

In [2]:
# Define input files directory and output file name
input_dir_name = "raw_datasets"
output_file = "SA.csv"
os.makedirs(input_dir_name, exist_ok=True)

if not os.path.exists(output_file):
    with open(output_file, "w") as f:
        # f.write("text,sentiment\n")
        f.write("")

This script location is in the /data directory of the project. It assumes the following data directory structure:

```
Skynet
| - data
|    | - [input_dir_name]
|    | - clean-csv.ipynb
|    | - [output_file]
```

In [ ]:
# Use all files in script directory as input
inputs = []
input_dir_name = os.path.join(os.path.abspath(""), input_dir_name)
for filename in os.listdir(input_dir_name):
    filepath = os.path.join(os.path.abspath(input_dir_name), filename)
    if os.path.isfile(filepath):
        inputs.append(filepath)

# Validate input
pprint.pprint(inputs)

['/Users/kevinhsu/Downloads/AIT 526/Skynet/data/raw_datasets/yelp_train.csv',
 '/Users/kevinhsu/Downloads/AIT 526/Skynet/data/raw_datasets/test.csv',
 '/Users/kevinhsu/Downloads/AIT 526/Skynet/data/raw_datasets/IMDB Dataset.csv',
 '/Users/kevinhsu/Downloads/AIT 526/Skynet/data/raw_datasets/train.csv',
 '/Users/kevinhsu/Downloads/AIT 526/Skynet/data/raw_datasets/testing.csv',
 '/Users/kevinhsu/Downloads/AIT 526/Skynet/data/raw_datasets/yelp_test.csv']

In [5]:
# WARNING: Add column names to the beginning of the csv files before running this snippet
# Each file must have the 2 required columns review/text and label
dfs = pd.DataFrame()
for filepath in inputs:
    # Detect Encoding using chardet Library
    with open(filepath, "rb") as f:
        data = f.read()
    encoding = chardet.detect(data)["encoding"]
    print(filepath, "encoding:", encoding)

    df = pd.read_csv(filepath, encoding=encoding)  # Read csv
    print(filepath, "columns:", df.columns.tolist())

    # Rename relevant column names to 'text' and 'label'
    if "review" in df:
        df.rename(columns={"review": "text"}, inplace=True)
    elif "tweet content" in df:
        df.rename(columns={"tweet content": "text"}, inplace=True)
    df.rename(columns={"sentiment": "label"}, inplace=True)

    print(filepath, "columns after cleaning:", df.columns.tolist())
    df = df[["text", "label"]]  # Keep only relevant columns

    # Remove all NA values
    df.dropna(inplace=True)  # Drop NAs

    # Preview unique values in dataframe
    print(filepath, "label unique values:", df["label"].unique())

    # Add df into big dataframe
    dfs = pd.concat([dfs, df])

/Users/kevinhsu/Downloads/AIT 526/Skynet/data/raw_datasets/yelp_train.csv encoding: ascii
/Users/kevinhsu/Downloads/AIT 526/Skynet/data/raw_datasets/yelp_train.csv columns: ['sentiment', 'review']
/Users/kevinhsu/Downloads/AIT 526/Skynet/data/raw_datasets/yelp_train.csv columns after cleaning: ['label', 'text']
/Users/kevinhsu/Downloads/AIT 526/Skynet/data/raw_datasets/yelp_train.csv label unique values: [1 2]
/Users/kevinhsu/Downloads/AIT 526/Skynet/data/raw_datasets/test.csv encoding: utf-8
/Users/kevinhsu/Downloads/AIT 526/Skynet/data/raw_datasets/test.csv columns: ['textID', 'text', 'sentiment', 'Time of Tweet', 'Age of User', 'Country', 'Population -2020', 'Land Area (Km�)', 'Density (P/Km�)']
/Users/kevinhsu/Downloads/AIT 526/Skynet/data/raw_datasets/test.csv columns after cleaning: ['textID', 'text', 'label', 'Time of Tweet', 'Age of User', 'Country', 'Population -2020', 'Land Area (Km�)', 'Density (P/Km�)']
/Users/kevinhsu/Downloads/AIT 526/Skynet/data/raw_datasets/test.csv label unique values: ['neutral' 'positive' 'negative']
/Users/kevinhsu/Downloads/AIT 526/Skynet/data/raw_datasets/IMDB Dataset.csv encoding: utf-8
/Users/kevinhsu/Downloads/AIT 526/Skynet/data/raw_datasets/IMDB Dataset.csv columns: ['review', 'sentiment']
/Users/kevinhsu/Downloads/AIT 526/Skynet/data/raw_datasets/IMDB Dataset.csv columns after cleaning: ['text', 'label']
/Users/kevinhsu/Downloads/AIT 526/Skynet/data/raw_datasets/IMDB Dataset.csv label unique values: ['positive' 'negative']
/Users/kevinhsu/Downloads/AIT 526/Skynet/data/raw_datasets/train.csv encoding: Windows-1252
/Users/kevinhsu/Downloads/AIT 526/Skynet/data/raw_datasets/train.csv columns: ['textID', 'text', 'selected_text', 'sentiment', 'Time of Tweet', 'Age of User', 'Country', 'Population -2020', 'Land Area (Km²)', 'Density (P/Km²)']
/Users/kevinhsu/Downloads/AIT 526/Skynet/data/raw_datasets/train.csv columns after cleaning: ['textID', 'text', 'selected_text', 'label', 'Time of Tweet', 'Age of User', 'Country', 'Population -2020', 'Land Area (Km²)', 'Density (P/Km²)']
/Users/kevinhsu/Downloads/AIT 526/Skynet/data/raw_datasets/train.csv label unique values: ['neutral' 'negative' 'positive']
/Users/kevinhsu/Downloads/AIT 526/Skynet/data/raw_datasets/testing.csv encoding: ascii
/Users/kevinhsu/Downloads/AIT 526/Skynet/data/raw_datasets/testing.csv columns: ['text', 'sentiment']
/Users/kevinhsu/Downloads/AIT 526/Skynet/data/raw_datasets/testing.csv columns after cleaning: ['text', 'label']
/Users/kevinhsu/Downloads/AIT 526/Skynet/data/raw_datasets/testing.csv label unique values: ['positive' 'negative' 'negative         ']
/Users/kevinhsu/Downloads/AIT 526/Skynet/data/raw_datasets/yelp_test.csv encoding: ascii
/Users/kevinhsu/Downloads/AIT 526/Skynet/data/raw_datasets/yelp_test.csv columns: ['sentiment', 'review']
/Users/kevinhsu/Downloads/AIT 526/Skynet/data/raw_datasets/yelp_test.csv columns after cleaning: ['label', 'text']
/Users/kevinhsu/Downloads/AIT 526/Skynet/data/raw_datasets/yelp_test.csv label unique values: [2 1]

In [6]:
# Review return dataset
dfs

                                                 text     label
0   Last session of the day  http://twitpic.com/67ezh   neutral
1    Shanghai is also really exciting (precisely -...  positive
2   Recession hit Veronique Branquinho, she has to...  negative
3                                         happy bday!  positive
4              http://twitpic.com/4w75p - I like it!!  positive
..                                                ...       ...
14                          Exceeded my expectations!  positive
15                               Not what I expected.  negative
16                         Will definitely buy again!  positive
17                               Very bad experience.  negative
18                                   Love the design!  positive

[81033 rows x 2 columns]

In [ ]:
# Re-encode sentiment to the integers. Also drops irrelevant data
#  0 - negative
#  1 - neutral
#  2 - positive

# Update this map using the unique values of each dataset from the result obtained above
if drop_neutrals:
    sent_map = {
        'positive': 1,
        'Positive': 1,
        'negative': 0,
        'Negative': 0,
        1: 0,
        2: 1
    }
else:
    sent_map = {
        'positive': 2,
        'Positive': 2,
        'neutral': 1,
        'Neutral': 1,
        'negative': 0,
        'Negative': 0,
        1: 1,
        2: 2
    }


def reencode_sentiment(sentiment):
    return sent_map[sentiment]


ret_df = dfs.copy()
ret_df['label'] = ret_df['label'].map(sent_map)
ret_df.dropna(inplace=True)
ret_df['label'] = ret_df['label'].astype(int) # Coerced float values into int

print('Unique values of label column:', ret_df['label'].unique())
print('Count of values in label column:')
print(ret_df['label'].value_counts)

Unique values of label column: [1 0]
Count of values in label column:
<bound method IndexOpsMixin.value_counts of 0         1
1         1
2         1
3         0
4         1
         ..
559995    1
559996    1
559997    0
559998    0
559999    1
Name: label, Length: 666467, dtype: int64>

In [8]:
# Review return dataset
ret_df

                                                     text  label
0       One of the other reviewers has mentioned that ...      1
1       A wonderful little production. <br /><br />The...      1
2       I thought this was a wonderful way to spend ti...      1
3       Basically there's a family where a little boy ...      0
4       Petter Mattei's "Love in the Time of Money" is...      1
...                                                   ...    ...
559995  Ryan was as good as everyone on yelp has claim...      1
559996  Professional \nFriendly\nOn time AND affordabl...      1
559997  Phone calls always go to voicemail and message...      0
559998  Looks like all of the good reviews have gone t...      0
559999  Ryan Rocks! I called him this morning for some...      1

[666467 rows x 2 columns]

In [9]:
print(
    "Unique values of label column after removing irrelevant values:",
    ret_df["label"].unique(),
)
print("Count of values in label column after removing irrelevant values:")
print(ret_df["label"].value_counts)

Unique values of label column after removing irrelevant values: [1 0]
Count of values in label column after removing irrelevant values:
<bound method IndexOpsMixin.value_counts of 0         1
1         1
2         1
3         0
4         1
         ..
559995    1
559996    1
559997    0
559998    0
559999    1
Name: label, Length: 666467, dtype: int64>

In [10]:
# Write dataframe to output csv file
ret_df.to_csv(output_file, index=False)